<% unless operations_check.mail_check.nil? %>
<div class="ops-check-divider">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ticket</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="<%= if @operations_check.mail_check.passed? then                             
                   'color: green' else 'color: red' end %>">Mail</td>
        <td><%= link_to_rt operations_check.mail_check.ticket,
                {:class => "btn btn-mini"} %></td>
        <% if operations_check.owner == current_user.login %>
        <td><%= link_to 'Remove', 
		operations_check_mail_check_path(operations_check, operations_check.mail_check), 
		method: :delete, class: 'btn btn-mini btn-danger' %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
