<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @automount_check.name %>
</p>


<%= link_to 'Edit', edit_automount_check_path(@automount_check) %> |
<%= link_to 'Back', automount_checks_path %>
