<div class="page-header">
  <h1>ReLOUDs</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reloud_entries.each do |reloud_entry| %>
    <tr>
      <td><%= reloud_entry.name %></td>
      <td><%= link_to 'Edit', edit_reloud_entry_path(reloud_entry), :class => 'btn btn-mini' %></td>
      <td>
	<%= link_to 'Delete', reloud_entry,
            method: :delete, data: { confirm: 'Are you sure?' },
          :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'New ReLOUD Entry', new_reloud_entry_path, :class => 'btn btn-primary' %>
</div>
