<% unless operations_check.load_balancer_checks.empty? %>
<div class="ops-check-divider">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ticket</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% operations_check.load_balancer_checks.each do |load_balancer_check| %>
      <% unless load_balancer_check.id.nil? %>
      <tr>
        <td style="<%= if load_balancer_check.passed? then                                     
                   'color: green' else 'color: red' end %>">
          <%= load_balancer_check.name %></td>
        <td><%= link_to_rt load_balancer_check.ticket, {:class => "btn btn-mini"} %></td>
        <% if operations_check.owner == current_user.login %>
        <td><%= link_to 'Remove',
                operations_check_load_balancer_check_path(operations_check, load_balancer_check), 
		method: :delete, class: 'btn btn-mini btn-danger' %></td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
