<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @load_balancer_check.name %>
</p>


<%= link_to 'Edit', edit_load_balancer_check_path(@load_balancer_check) %> |
<%= link_to 'Back', load_balancer_checks_path %>
