<% unless @operations_check.printer_checks.empty? %>
<div class="ops-check-divider">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ticket</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% operations_check.printer_checks.each do |printer_check| %>
      <% unless printer_check.id.nil? %>
      <tr>
        <td style="<%= if printer_check.passed? then                                           
                   'color: green' else 'color: red' end %>">
          <%= printer_check.name %></td>
        <td><%= link_to_rt printer_check.ticket, {:class => "btn btn-mini"} %></td>
        <% if operations_check.owner == current_user.login %>
        <td><%= link_to 'Remove',
                operations_check_printer_check_path(operations_check, printer_check),
                method: :delete, class: 'btn btn-mini btn-danger' %></td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
