<div class="page-header">
  <h1>ReLOUD archives</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reloud_checks.each do |reloud_check| %>
    <tr>
      <td><%= reloud_check.name %></td>
      <td><%= reloud_check.date %></td>
      <td><%= reloud_check.owner %></td>
      <td>
	<%= link_to 'Destroy', reloud_check, 
	    method: :delete, data: { confirm: 'Are you sure?' },
	    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
