<div class="page-header">
  <h1>Backups</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @backup_entries.each do |backup_entry| %>
    <tr>
      <td><%= backup_entry.name %></td>
      <td><%= link_to 'Edit', edit_backup_entry_path(backup_entry), :class => 'btn btn-mini' %></td>
      <td>
	<%= link_to 'Delete', backup_entry, 
	    method: :delete, data: { confirm: 'Are you sure?' },
	    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'New Backup Entry', new_backup_entry_path, :class => 'btn btn-primary' %>
</div>
