<div class="page-header">
  <h1>INF-CO</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="hidden-phone span10">
      <p>
	Welcome to the new infrastructure checks web app!  Please refer to
	the schedule posted on this website to see which days you must
	conduct an inf-co check.  Mobile devices are now supported so
	don't be afraid to use this app from your phone.
      </p>
    </div>

    <div class="visible-phone">
      <p>
        Welcome to the new infrastructure checks web app!  Please refer to
        the schedule posted on this website to see which days you must
        conduct an inf-co check.  Mobile devices are now supported so
        don't be afraid to use this app from your phone.
      </p>
    </div>
  </div>
</div>
