<div class="page-header">
  <h1>INF-CO</h1>
</div>

<div class="row">
  <div class="span10">
    <% if alert %>
    <div class="alert">
      <p id="alert"><%= alert %></p>
    </div>
    <% end %>

    <% if notice %>
    <div class="alert">
      <p id="notice"><%= notice %></p>
    </div>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="hidden-phone span10">
      <p>
	Welcome to the new infrastructure checks web app!  Please refer to
	the schedule posted on this website to see which days you must
	conduct an inf-co check.  Mobile devices are now supported so
	don't be afraid to use this app from your phone.
      </p>
    </div>

    <div class="visible-phone">
      <p>
        Welcome to the new infrastructure checks web app!  Please refer to
        the schedule posted on this website to see which days you must
        conduct an inf-co check.  Mobile devices are now supported so
        don't be afraid to use this app from your phone.
      </p>
    </div>
  </div>
</div>
