<div class="page-header">
  <h1>Admin Tools</h1>
</div>
<p>
  Welcome Administrator!!!  
</p>
<div class="hidden-phone">
  <p>
    Please select an option on the left to add, remove, or edit a
    specific infrastructure check.
  </p>
</div>
<div class="visible-phone">
  <p>
    Please select an option above to add, remove, or edit a
    specific infrastructure check.
  </p>
</div>
