
<div class="span2">
  <div class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
    <ul class="nav nav-list">
      <h5>OPERATIONS</h5>
      <li><a href="#">Labs</a></li>
      <li><a href="#">Printers</a></li>
      <li><a href="#">Automounts</a></li>
      <li><a href="#">Nagios</a></li>
      <li><a href="#">Request Tracker</a></li>
      <li><a href="#">Load Balancers</a></li>
      <li><a href="#">LDAP</a></li>
      <li class="divider"></li>
      <h5>INTERNAL</h5>
      <li><a href="#">Backups</a></li>
      <li><a href="#">Disk Space</a></li>
      <li><a href="#">Relouds</a></li>
    </ul>
  </div>
</div>

<div class="span10">
  <h1>AdminTools#index</h1>
  <p>Find me in app/views/admin_tools/index.html.erb</p>
</div>
