<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @packages_check.name %>
</p>


<%= link_to 'Edit', edit_packages_check_path(@packages_check) %> |
<%= link_to 'Back', packages_checks_path %>
