/*
 * Author: kfrank
 *
 */

.ops-check-divider { 
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

input.lab-check-box {
    width: 25px; 
    height: 25px; 
    margin: 0px 0px 10px 5px;
}

input.lab-check-box-phone {
    width: 25px; 
    height: 25px; 
    margin: 0px 40px 10px 40px;
}

.ops-check-number-field > input {
    width: 100px; 
    margin: 5px 0;
}

.ops-check-check-box > input {
    width: 25px;
    height: 25px; 
    margin: 7px 0;
}

select.collection-select {
    width: 180px; 
}

select.date-select {
    width: 100px; 
}

.small-ul > li > a {
    font-size: 14px;
    padding: 10px 8px 10px !important;
}

.small-header {
    margin: 10px 0px 20px;
}

.input-divider {
    border-bottom: 1px solid #eeeeee; 
    margin-bottom: 5px;
}
