/*
 * Author: kfrank
 *
 */

.ops-check-divider { 
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

input.lab-check-box {
    width: 25px; 
    height: 25px; 
    margin: 0px 0px 10px 5px;
}

select.lab-select {
    width: 180px; 
}
